body {
	font-family: Sour Gummy;
	background-color: #88d4f3;
}

.container {
	background-color: floralwhite;
	border-radius: 8px;
	align-content: center;
	justify-items: center;
	padding: 25px;
}

.row {display: flex;}
.column {flex: 50%;
	padding: 5px;}

p a {
	text-decoration: none;
}
